/* Font Definitions */
@font-face {
  font-family: ace;
  src: url(ace_futurism.woff);
}

@font-face {
  font-family: alsscript;
  src: url(alsscrp.woff);
}

* {
  margin: 0;
  padding: 0;
}
body {
  height:100%;
  width:100%;
}

#body-container {
  height: 100%;
  width: 100%;
  position:absolute;
}

#header {
  /*background-color: #ffd1e1;*/
  background-color: white;
  width:100%;
  height: 10em;
  border-bottom: 3px solid #ffd1e1;
}

.logo {
  position:relative;
  display: inline-block;
  top: 3em;
  left: 4em;
  width: 185px;
  height: 185px;
  margin:-60px 0 0 -60px;
  -webkit-animation:spin 10s linear infinite;
  -moz-animation:spin 10s linear infinite;
  animation:spin 10s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg);
transform:rotate(360deg); }}

#cherrylogotext {
  display: inline-block;
  position: relative;
  color: #ff3678;
  font-family: ace;
  font-size: 108px;
  left: -29px;
  top: -10px;
}

#roboticslogotext {
  display: inline-block;
  position: relative;
  color: #ff3678;
  font-family: ace;
  font-size: 40px;
  left: -236px;
  top: 10px;
}

#kadynmartinezheadertext {
  display: inline-block;
  position: relative;
  color: #82abff;
  font-family: alsscript;
  font-size: 85px;
  left: -175px;
  top: -5px;
}

nav {
  text-align: right;
  position: relative;
  display: inline-block;
  float: right;
}

nav ul {
  list-style: none;
  display: inline-block;
  /*margin-top: 8em;  We don't really need this i think.. */
  position:relative;
  margin-right: 1em;
}

nav ul a {
  text-decoration: none;
  color: #ff3678;
  border: 1px solid white;
  margin-right: 10px;
  height: 2em;
}

nav ul li {
  display: inline-block;
  background-color: #ffd1e1;
  width: 6em;
  text-align: center;
}




/* Main Content */

#main-container {
  background-color: #82abff;
  height:100%;
}
