/* Font Definitions */
@font-face {
  font-family: ace;
  src: url(ace_futurism.woff);
}

@font-face {
  font-family: alsscript;
  src: url(alsscrp.woff);
}

* {
  margin: 0;
  padding: 0;
}
body {
  height:100%;
  width:100%;
}

#body-container {
  height: 100%;
  width: 100%;
  position:absolute;
}

#header {
  /*background-color: #ffd1e1;*/
  background-color: white;
  width:100%;
  height: 10em;
  border-bottom: 3px solid #ffd1e1;
}

.logo {
  position:relative;
  display: inline-block;
  top: 3em;
  left: 4em;
  width: 185px;
  height: 185px;
  margin:-60px 0 0 -60px;
  -webkit-animation:spin 10s linear infinite;
  -moz-animation:spin 10s linear infinite;
  animation:spin 10s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg);
transform:rotate(360deg); }}

#cherrylogotext {
  display: inline-block;
  position: relative;
  color: #ff3678;
  font-family: ace;
  font-size: 6.75em;
  left: -0.25em;
  top: -0.09em;
}

#roboticslogotext {
  display: inline-block;
  position: relative;
  color: #ff3678;
  font-family: ace;
  font-size: 2.5em;
  left: -5.9em;
  top: 0.27em;
}

#kadynmartinezheadertext {
  display: inline-block;
  position: relative;
  color: #82abff;
  font-family: ace;
  font-size: 5.4em;
  left: 0.5em;
  top: -0.53em;
}

nav {
  text-align: right;
  position: relative;
  display: inline-block;
  float: right;
}

nav ul {
  list-style: none;
  display: inline-block;
  /*margin-top: 8em;  We don't really need this i think.. */
  position:relative;
  margin-right: 1em;
}

nav ul a {
  text-decoration: none;
  color: #ff3678;
  margin-right: 10px;
  height: 2em;
}

nav ul li {
  display: inline-block;
  background-color: #ffd1e1;
  width: 10em;
  text-align: center;
  padding-bottom: 2px;
}

nav ul li p {
  margin-top: 3px;
  position: relative;
}

/** Stroke **/
a li p:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a li p:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
}


/* Main Content */

#main-container {
  background-color: #82abff;
  height:100%;
  padding-bottom: 3.5em;
}



/* Footer */
#footer {
  background-color: #82abff;
  clear: both;
  position: relative;
  height: 3.5em;
  margin-top: -3.5em;
}
#footericons {
  width: 9em;
  margin: 0 auto;
}
#footericons a li {
  display: inline-block;
  position: relative;
}
#footericons a li img{
  width: 2em;
}
#footer p {
  width: 13em;
  font-size: 1em;
  margin: 0 auto;
}
